<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>

<body>
    <a href="{{url_for('oauth.logout')}}">Logout</a>
    <br>
    <a href="{{url_for('index')}}">Home</a>
    <p>Hi, {{session['user']['userName']}}!</p>
    <p>Email - {{session['user']['email']}}</p>
    <p>Roles - {{session['user']['roles']}}</p>
    <p>User ID - {{session['user']['userId']}}</p>
</body>

</html>